#!/usr/bin/env fish

# When the contents of the 'fish_plugins' file change, the hash changes, so this script will get executed
# fish_plugins hash: {{ include "dot_config/private_fish/fish_plugins" | sha256sum }}
fisher update
