#!/usr/bin/env fish

# When the contents of the 'Brewfile' file change, the hash changes, so this script will get executed
# Brewfile hash: {{ include "Brewfile.tmpl" | sha256sum }}
cd ~
brew bundle install

{{- /* Commenting this out, because I don't need synthing anymore

{{- if eq .location "home" }}
# Configure to run syncthing at login and in the background
brew services start syncthing
{{- end }}

*/ -}}
