{{- $location_types := list "work" "home" -}}
{{- $location := promptChoice "location" $location_types -}}
[data]
  location = {{ $location | quote }}

[data.git]
{{- if eq $location "work" }}
name = "Peter Andi"
email = "peter.andi@axoflow.com"
sshSigningKeyPath = "/Users/pandi/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/PublicKeys/02c35fd4a224233d72390fa7a7cbd686.pub"
{{- else }}
name = "Andi Péter"
email = "andipeti2000@gmail.com"
sshSigningKeyPath = "~/.ssh/id_ed25519.pub"
{{- end }}

[diff]
command = "delta"
