# Taps
tap "borkdude/brew"
tap "harelba/q"
tap "homebrew/bundle"
tap "homebrew/cask-versions"


# Brew installs
brew "chezmoi"
brew "coreutils"
brew "curl"
brew "fish"
brew "fzf"
brew "gh"
brew "git"
brew "jq"
brew "just"
brew "nushell"
brew "ranger"       # Terminal file manager
brew "ripgrep"
brew "tmux"
brew "starship"     # Shell prompt
brew "zellij"       # Terminal multiplexer
brew "wget"
brew "difftastic"   # Structural code diffs
brew "htop"         # Process manager
brew "tree"         # Tree view of the current directory

# Toolchain management
brew "rustup-init"  # Rust
brew "asdf"         # Python
brew "pipx"         # Pyhton apps

# Kubernetes
brew "krew"
brew "kubernetes-cli"
brew "helm"
brew "k9s"

{{- if eq .location "work" }}
## Work installs
### Clojure
brew "clojure"
brew "borkdude/brew/babashka"
brew "borkdude/brew/clj-kondo"

### JS
brew "yarn"

### Scala
brew "Virtuslab/scala-cli/scala-cli"
brew "coursier/formulas/coursier"     # Needed for nvim-metals for scala

### Python
brew "pyenv"

brew "awscli"
brew "argocd"
brew "lastpass-cli"
brew "jmeter"
brew "redis"
brew "sops"
brew "chronograf"
brew "openldap"
brew "p7zip"
brew "xsv"
brew "harelba/q/q"
brew "k6"
brew "expect"
brew "hadolint"
brew "gnu-getopt"
brew "ghostscript"
brew "git-crypt"
brew "git-delta"
brew "pandoc"
brew "stern"
brew "tig"
brew "tfenv"
brew "tflint"
brew "checkov"
brew "pre-commit"
brew "prometheus"
brew "postgresql"
brew "shellcheck"     # Linter for shell files
{{- end }}

{{- if eq .location "home" }}
## Home installs
brew "syncthing"
brew "opus-tools"
brew "yt-dlp"
brew "imagemagick"
brew "hledger"              # Plain text accounting
brew "typst"                # Type setting app like LaTeX
{{- end }}

# Casks
cask "docker"
cask "iterm2"
cask "jetbrains-toolbox"
cask "raycast"
cask "mac-mouse-fix@2"
cask "postman"
cask "obsidian"             # Note taking app
cask "neovide"              # Neovim GUI
cask "spotify"              # Music
cask "beekeeper-studio"     # SQL explorer
cask "alacritty"            # Terminal emulator
cask "zen-browser"          # Firefox fork browser
cask "ukelele"              # Custom keyboard layouts on macOS

{{- if eq .location "work" }}
## Work Casks
cask "citrix-workspace"
cask "bruno"                # Postman alternative
{{- end }}

{{- if eq .location "home" }}
## Home Casks
cask "calibre"
cask "musicbrainz-picard"   # Music tagger and organiser
cask "audacity"
cask "lastfm"
cask "zed"                  # Editor
cask "paragon-ntfs"         # Support for NTFS external hdds on MacOS
cask "burn"                 # CD/DVD Burner
cask "ente-auth"            # 2FA
cask "balenaetcher"         # Bootable pendrive ISO writer
cask "anki"                 # Flashcard app
{{- end }}

{{- if eq .location "home" }}
## NTFS support for macOS
tap "gromgit/fuse"

cask "macfuse"
brew "gromgit/fuse/ntfs-3g-mac"
cask "mounty"
{{- end }}
