# Taps
tap "borkdude/brew"
tap "dnote/dnote"
tap "harelba/q"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-versions"
tap "homebrew/core"
{{- if eq .location "work" }}
tap "wp/inf", "git@github.dev.pages:infrastructure/homebrew-wp-inf.git"
{{- end }}


# Brew installs
brew "awscli"
brew "chezmoi"
brew "chronograf"
brew "coreutils"
brew "openldap"
brew "curl"
brew "expect"
brew "fish"
brew "fzf"
brew "gh"
brew "ghostscript"
brew "git"
brew "git-crypt"
brew "git-delta"
brew "gnu-getopt"
brew "hadolint"
brew "helm"
brew "jq"
brew "just"
brew "k6"
brew "kubernetes-cli", link: false
brew "neovide"
brew "nushell"
brew "p7zip"
brew "pandoc"
brew "python@3.10"
brew "ranger"
brew "ripgrep"
brew "stern"
brew "tig"
brew "tmux"
brew "wget"
brew "xsv"
brew "yarn"
brew "harelba/q/q"

## Work installs
{{- if eq .location "work" }}
brew "wp/inf/kubectl-import"

brew "argocd"
brew "lastpass-cli"
brew "clojure"
brew "borkdude/brew/babashka"
brew "borkdude/brew/clj-kondo"
brew "jmeter"
brew "redis"
brew "sops"
{{- end }}

# Casks
cask "docker"
cask "iterm2"
cask "jetbrains-toolbox"
cask "logseq"
cask "raycast"
cask "mouse-fix"
