# Taps
tap "borkdude/brew"
tap "harelba/q"
tap "homebrew/bundle"
tap "homebrew/cask-versions"
tap "oven-sh/bun"


# Brew installs
brew "bun"        # Javascript runtime, Node.JS alternative
brew "chezmoi"
brew "coreutils"
brew "curl"
brew "fish"
brew "fzf"
brew "gh"
brew "git"
brew "jq"
brew "just"
brew "nushell"
brew "ranger"       # Terminal file manager
brew "ripgrep"
brew "tmux"
brew "starship"     # Shell prompt
brew "zellij"       # Terminal multiplexer
brew "wget"
brew "difftastic"   # Structural code diffs
brew "htop"         # Process manager
brew "tree"         # Tree view of the current directory

# Toolchain management
brew "rustup-init"  # Rust
brew "asdf"         # Python
brew "pipx"         # Pyhton apps

# Kubernetes
brew "krew"
brew "kubernetes-cli"
brew "helm"
brew "k9s"

{{- if eq .location "work" }}
## Work installs
brew "awscli"
brew "argocd"
brew "lastpass-cli"
brew "clojure"
brew "borkdude/brew/babashka"
brew "borkdude/brew/clj-kondo"
brew "jmeter"
brew "redis"
brew "sops"
brew "chronograf"
brew "openldap"
brew "p7zip"
brew "xsv"
brew "yarn"
brew "harelba/q/q"
brew "k6"
brew "expect"
brew "hadolint"
brew "gnu-getopt"
brew "ghostscript"
brew "git-crypt"
brew "git-delta"
brew "pandoc"
brew "stern"
brew "tig"
brew "Virtuslab/scala-cli/scala-cli"
brew "tfenv"
brew "tflint"
brew "checkov"
brew "pre-commit"
brew "prometheus"
brew "postgresql"
{{- end }}

{{- if eq .location "home" }}
## Home installs
brew "syncthing"
brew "opus-tools"
brew "yt-dlp"
brew "imagemagick"
brew "hledger"              # Plain text accounting
brew "typst"                # Type setting app like LaTeX
brew "emacs-plus@29"
{{- end }}

# Casks
cask "docker"
cask "iterm2"
cask "jetbrains-toolbox"
cask "raycast"
cask "mac-mouse-fix"
cask "postman"
cask "dash"                 # Documentation browser
cask "obsidian"             # Note taking app
cask "orion"                # WebKit based web browser
cask "neovide"              # Neovim GUI
cask "spotify"              # Music

{{- if eq .location "work" }}
## Work Casks
cask "citrix-workspace"
cask "beekeeper-studio"
{{- end }}

{{- if eq .location "home" }}
## Home Casks
cask "calibre"
cask "musicbrainz-picard"   # Music tagger and organiser
cask "audacity"
cask "lastfm"
{{- end }}
