"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = {{ .git.name | quote }}
email = {{ .git.email | quote }}

[signing]
behavior = "own"
backend = "ssh"
key = {{ .git.sshSigningKeyPath | quote }}

[git]
sign-on-push = true
write-change-id-header = true

[aliases]
# Pulls the latest bookmark to the current change
tug = ["bookmark", "move", "--from", "heads(::@ & bookmarks())", "--to", "@"]

[ui]
pager = "delta"
diff-formatter = ":git"

[ui.movement]
# `jj next` and `jj prev` will automatically edit the change
edit = true
